
// Feature
section.feature

	.container-fluid
		.row

			.col-xs-12._pd0

				.slider.theme-custom
					#feature-slider.nivoSlider
						img(src="uploads/slide-1.jpg")
						img(src="uploads/slide-2.jpg")
						img(src="uploads/slide-3.jpg")
