
// Footer
footer.footer

	.container
		.row

			article.footer-info

				.col-sm-3
					h5 บริษัท ทิพยประกันภัย จำกัด (มหาชน)
					p สำนักงานใหญ่ : 63/2 ถ.พระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10310
					nav.social-nav
						a.facebook(href="")
						a.youtube(href="")
						a.twitter(href="")
						a.instagram(href="")
					p.visible-xs(style="margin-top: 5px") 02 529 8855 จันทร์ – ศุกร์ : 08.00 – 17.00 น.<br>สายด่วนรับแจ้งอุบัติเหตุตลอด 24 ชั่วโมง 1736

				.col-sm-5.hidden-xs
					ul
						li: a(href="") ทิพยประกันภัย
						li: a(href="") ข้อตกลงและเงื่อนไขการใช้บริการ
						li: a(href="") แนะนำบริการและร้องเรียน
						li: a(href="") ติดต่อสอบถามออนไลน์
					ul
						li: a(href="") ซื้อประกันออนไลน์
						li: a(href="") ข่าวสารและกิจกรรม
						li: a(href="") ข้อมูลบริการ
						li: a(href="") คู่มือการใช้งาน

				.col-sm-4.hidden-xs
					h5 ข้อมูลเกี่ยวกับสินไหม
					ul._fullwidth
						li: a(href="") สินไหมรถยนต์ (ประกันภัยรถยนต์)
						li: a(href="") สินไหมสุขภาพ/อุบัติเหตุ (ประกันภัยอุบัติเหตุ/ประกันเดินทาง)

				.totop.visible-xs
					span.glyphicon.glyphicon-triangle-top

// Bottom
aside.bottom

	.container
		.row

			.col-xs-12

				.article.bottom-text

					p.text <b>CALL CENTER</b> โทร. <span>1736</span>

					p.img
						img(src="assets/img/dbd.png" alt="DBD Registered")


