
// Footer
footer.footer

	.container
		.row

			article.footer-info

				.col-sm-3
					h5 บริษัท ทิพยประกันภัย จำกัด (มหาชน)
					p สำนักงานใหญ่ : 63/2 ถ.พระราม 9 แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10310
					nav.social-nav
						a.facebook(href="")
						a.youtube(href="")
						a.twitter(href="")
						a.instagram(href="")

				.col-sm-5
					ul
						li: a(href="") ทิพยประกันภัย
						li: a(href="") ข้อตกลงและเงื่อนไขการใช้บริการ
						li: a(href="") แนะนำบริการและร้องเรียน
						li: a(href="") ติดต่อสอบถามออนไลน์
					ul
						li: a(href="") ซื้อประกันออนไลน์
						li: a(href="") ข่าวสารและกิจกรรม
						li: a(href="") ข้อมูลบริการ
						li: a(href="") คู่มือการใช้งาน

				.col-sm-4
					h5 ข้อมูลเกี่ยวกับสินไหม
					ul._fullwidth
						li: a(href="") สินไหมรถยนต์ (ประกันภัยรถยนต์)
						li: a(href="") สินไหมสุขภาพ/อุบัติเหตุ (ประกันภัยอุบัติเหตุ/ประกันเดินทาง)



// Bottom
aside.bottom

	.container
		.row

			.col-xs-12

				.article.bottom-text

					p._floatleft <b>CALL CENTER</b> โทร. <span>1736</span>

					p._floatright
						img(src="assets/img/dbd.png" alt="DBD Registered")

//- 				//- Footer Menu
//- 				.footer-menu
//- 					nav
//- 						ul.footer-nav
//- 							li: a(href="") Our Hotel
//- 							li: a(href="") Promotions
//- 							li: a(href="") Restaurants
//- 							li: a(href="") Meetings
//- 							li: a(href="") Gallery
//- 							li: a(href="") Careers
//- 							li: a(href="") FAQ
//- 							li: a(href="") Contact Us
//- 							li._floatright: a(href="")
//- 								i.fa.fa-map-marker
//- 								| one day trip around here

//- 			.col-md-4.col-md-push-2.col-sm-12

//- 				//- Sign Up
//- 				.signup
//- 					h5.topic sign up to receive news and special offers

//- 					//- Form
//- 					form.signup-form(method="post", action="contact.html")
//- 						.input-group
//- 							input.form-control(type="text", placeholder="email", name="signup_email")
//- 							span.input-group-btn
//- 								button.btn.btn-yellow(type="submit") Sign Up

//- 			.col-md-6.col-md-push-2.col-sm-7.col-sm-push-5

//- 				//- Footer Info
//- 				.footer-info
//- 					h5.topic for reservations
//- 					ul.infolist
//- 						li: a(href="")
//- 							i.fa.fa-envelope
//- 							| reservations.soi2@superhotelthailand.com
//- 						li: a(href="")
//- 							i.fa.fa-phone
//- 							| TEL: +66 (0) 2120 8188, FAX: +66 (0) 2120 8198
//- 						li: a(href="")
//- 							i.fa.fa-map-marker
//- 							| 75 Sukhumvit Soi 2, Klongtoey, Bangkok 10110

//- 			.col-lg-2.col-lg-pull-10.col-md-2.col-md-pull-10.col-sm-5.col-sm-pull-7

//- 				//- Logo
//- 				.footer-logo
//- 					h1.logo
//- 						a(href="") Superhotel Thailand

//- // Bottom
//- aside.bottom

//- 	.container
//- 		.row

//- 			.col-md-2

//- 				h6.copyright COPYRIGHT &copy; SUPER HOTEL 2016

//- 			.col-md-10

//- 				nav
//- 					ul.bottom-nav
//- 						li: a(href="")
//- 							span.fa-stack.fa-lg
//- 								i.fa.fa-circle.fa-stack-2x.facebook-color
//- 								i.fa.fa-facebook.fa-stack-1x.fa-inverse
//- 						li: a(href="")
//- 							span.fa-stack.fa-lg
//- 								i.fa.fa-circle.fa-stack-2x.instagram-color
//- 								i.fa.fa-instagram.fa-stack-1x.fa-inverse
//- 						li: a(href="")
//- 							span.fa-stack.fa-lg
//- 								i.fa.fa-circle.fa-stack-2x.pinterest-color
//- 								i.fa.fa-pinterest-p.fa-stack-1x.fa-inverse
//- 						li: a(href="")
//- 							span.fa-stack.fa-lg
//- 								i.fa.fa-circle.fa-stack-2x.googleplus-color
//- 								i.fa.fa-google-plus.fa-stack-1x.fa-inverse
//- 						li: a(href="")
//- 							span.fa-stack.fa-lg
//- 								i.fa.fa-circle.fa-stack-2x.youtube-color
//- 								i.fa.fa-youtube.fa-stack-1x.fa-inverse
//- 						li: a(href="")
//- 							span.fa-stack.fa-lg
//- 								i.fa.fa-circle.fa-stack-2x.twitter-color
//- 								i.fa.fa-twitter.fa-stack-1x.fa-inverse
//- 						li: a(href="")
//- 							span.fa-stack.fa-lg
//- 								i.fa.fa-circle.fa-stack-2x.linkedin-color
//- 								i.fa.fa-linkedin.fa-stack-1x.fa-inverse

