
// Top
aside.top.hidden-sm.hidden-xs

	.container-fluid
		.row

			.col-xs-12

				nav
					ul.top-nav
						li: a.hasbg(href="") Login
						li: a(href="") Register


// Header
header.header

	.container-fluid
		.row

			.col-xs-12.hidden-sm.hidden-xs

				nav
					ul.sub-nav
						li: a(href="") เกี่ยวกับเรา
						li: a(href="") คำถามที่พบบ่อย

			.col-xs-3.visible-sm.visible-xs

			.col-md-3.col-xs-6
				h1.logo
					a(href="") Tip Insure

			// Main Nav
			.col-md-7.hidden-sm.hidden-xs
				nav.navbar
					ul.main-nav.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") ซื้อประกันออนไลน์
							ul.dropdown-menu
								li.dropdown
									a.dropdown-toggle(href="#", data-toggle="dropdown") ประกันภัยรถยนต์
									ul.dropdown-menu
										li: a(href="") ประกันภัยรถยนต์ชั้น 1
										li: a(href="") ประกันภัยรถยนต์ชั้น 2+
										li: a(href="") ประกันภัยรถยนต์ชั้น 3+
										li: a(href="") ประกันภัยรถยนต์ชั้น 2
										li: a(href="") ประกันภัยรถยนต์ชั้น 3
										li: a(href="") พ.ร.บ.
								li.dropdown
									a.dropdown-toggle(href="#", data-toggle="dropdown") ประกันภัยเดินทาง
									ul.dropdown-menu
										li: a(href="") ประกันภัยเดินทางต่างประเทศ
										li: a(href="") ประกันภัยเดินทางในประเทศ
								li: a(href="") ประกันภัยอุบัติเหตุ
								li: a(href="") ประกันภัยบ้านและทรัพย์สิน
								li: a(href="") ประกันภัยสุขภาพ
						li: a(href="") โปรโมชั่น
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") บทความและกิจกรรม
							ul.dropdown-menu
								li.dropdown
									a.dropdown-toggle(href="#", data-toggle="dropdown") บทความ
									ul.dropdown-menu
										li: a(href="") ประกันภัย
										li: a(href="") รถยนต์
										li: a(href="") ท่องเที่ยว
										li: a(href="") สุขภาพ
										li: a(href="") อื่นๆ
								li: a(href="") กิจกรรม
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") เคลม
							ul.dropdown-menu
								li.dropdown
									a.dropdown-toggle(href="#", data-toggle="dropdown") ประกันภัยรถยนต์
									ul.dropdown-menu
										li: a(href="") ขั้นตอนการเคลม
										li: a(href="") รายชื่อศูนย์ซ่อมมาตรฐาน
										li: a(href="") ดาวน์โหลดเอกสาร
										li: a(href="") Tip Flash Claim
								li.dropdown
									a.dropdown-toggle(href="#", data-toggle="dropdown") ประกันภัยอุบัติเหตุและเดินทาง
									ul.dropdown-menu
										li: a(href="") ขั้นตอนการเคลม
										li: a(href="") รายชื่อโรงพยาบาล
										li: a(href="") ดาวน์โหลดเอกสาร
								li: a(href="") ประกันภัยอื่นๆ
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown") ติดต่อเรา
							ul.dropdown-menu
								li: a(href="") สำนักงานใหญ่
								li: a(href="") ทิพยสาขา

			.col-md-2.col-xs-3.padding
				.head-meta
					.logoalt.visible-xs
					h6 <span>สอบถามผลิตภัณฑ์</span>
					h5 02-529-8855
