doctype html
html(lang="en", class="no-js")
	head

		//- Meta inc
		- var title = "Tip Insure - Home";
		include meta

	body

		//- div

		//- Facebook SDK inc
		//- include facebooksdk.html

		//- Google Tag Manager inc
		//- include googletagmanager.html

		//- Header inc
		include header

		//- Feature inc
		//- include feature

		// Service
		section.content.service

			.container
				.row

					.col-xs-12

						article

							h1 Service


		// Promo
		section.content.promo

			.container
				.row

					.col-xs-12

						figure.promo-media
							<iframe width="100%" height="570" src="https://www.youtube.com/embed/P8bj88BYGO4?rel=0" frameborder="0" allowfullscreen></iframe>


		// Quick Contact
		section.content.quickcontact

			.container
				.row

					article.quickcontact-info

						.col-sm-6

							.contactgirl

						.col-sm-6

							.contactform
								header
									h4.topic สอบถามเพิ่มเติม
									h4.topic: span ให้ทิพยติดต่อกลับนะคะ

								form.quickcontact-form
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto reprehenderit, officia, ipsa voluptatibus modi, repudiandae obcaecati quos autem, praesentium velit nostrum. Mollitia optio quaerat odit, expedita dolores amet labore sapiente.


		// Quick Claim
		aside.content.quickclaim

			.container
				.row

					.col-xs-12

						article.quickclaim-text

							h6.topic ต้องการแจ้งเคลม โทร. <span>1736</span> กด <span>1</span> ตลอด 24 ชั่วโมง


		//- // Modal
		//- #popup.modal.fade(tabindex="-1", role="dialog")
		//- 	.modal-dialog.modal-sm
		//- 		.modal-content
		//- 			.modal-header
		//- 				button.close(type="button", data-dismiss="modal", aria-label="Close")
		//- 					span(aria-hidden="true") &times;
		//- 				h4.modal-title หัวข้อ
		//- 			.modal-body
		//- 				h5 ข้อมูลแจ้งเตือน
		//- 			.modal-footer
		//- 				button.btn.btn-default(type="button", data-dismiss="modal") Close
		//- 				button.btn.btn-primary(type="button") OK

		//- Footer inc
		include footer

		//- Script inc
		include script
