doctype html
html(lang="en", class="no-js")
	head

		//- Meta inc
		- var title = "Tip Insure - Home";
		include meta

	body

		//- div

		//- Facebook SDK inc
		//- include facebooksdk.html

		//- Google Tag Manager inc
		//- include googletagmanager.html

		//- Header inc
		include header

		//- Feature inc
		//- include feature

		//- // Welcome
		//- aside.welcome.hidden-xs.hidden-sm

		//- 	.container
		//- 		.row

		//- 			.col-xs-7

		//- 				article.editor
		//- 					h2 Welcome to
		//- 					h1 SUPERHOTEL THAILAND
		//- 					p Hello <i>(Sawadee)</i> and welcome to Thailand, the “Land of Smiles”. A country of rich cultural heritage, mouth-watering cuisine and world famous attractions awaits you. To indulge in Thailand’s raw beauty, one should visit Bangkok, it’s capital city.

		//- 			.col-xs-5

		//- 				figure.iframe-responsive-169.bgclip
		//- 					<iframe width="100%" height="auto" src="https://www.youtube.com/embed/c37PnnrPw-0?rel=0" frameborder="0" allowfullscreen></iframe>

		//- // Content
		//- section.content.home.hidden-xs.hidden-sm

		//- 	.container
		//- 		.row

		//- 			.col-xs-4

		//- 				article.editor
		//- 					img(src="uploads/img-logo.png")
		//- 					h3 <b>Lohas Suites Sukhumvit</b> by Superhotel is nestled in <b>Sukhumvit Soi 2</b>,
		//- 					p walking distance from the main Sukhumvit road and <b>BTS Phloen Chit or Nana Skytrain stations</b>. We offer <b>large contemporary studio, one-bedroom, two-bedroom and three-bedroom suites equipped with a kitchen, washer & dryer and free wifi. Ideal for short or long stay</b>, guests can enjoy recreational facilities including a roof-top swimming pool, fitness center, sauna and a wide selection of pillows to ensure a good night sleep.

		//- 			.col-xs-4

		//- 				article.editor
		//- 					img(src="uploads/img-marker.png")
		//- 					h3 We are located in Bangkok’s central business district
		//- 					p <b>with shopping centers (Central World, Siam Paragon, MBK center), Skytrain (BTS), MRT and Expressway nearby</b>. We are also <b>less than 2 kilometers away from Bumrungrad International Hospital</b>, one of the largest private hospitals in South East Asia. We, at Lohas Suites, aspire to become your home away from home where you can experience exemplary standards of service and hospitality while you plunge in Bangkok’s splendor.

		//- 			.col-xs-4

		//- 				article.editor
		//- 					img(src="uploads/img-shop.png")
		//- 					h3 Bangkok is the hub for leisure and business.
		//- 					p The city is home to several shopping centers as well as tourist attractions such as <b>temples (Grand Palace & Wat Prakaew), floating markets and Koh Rattanakosin</b>, which preserves old-styled architecture uncommon today.
		//- 					p Bangkok’s infamous nightlife is well documented on television with <b>an array of restaurant, bars and nightclubs</b>. Whether you’re here with family, friends or on business, this charming city will leave you wanting more.

		//- 			.col-xs-12

		//- 				article.editor
		//- 					blockquote “ <b>Super Hotel Thailand</b>, is the first Southeast Asian expansion of Super Hotel Japan, a leading hotel brand with over 100 properties. The motto of Super Hotel is  <b>“Safety, Cleanliness and Sound Sleep”</b> to ensure maximum guest satisfaction. Super Hotel in Bangkok, Thailand, has affiliated properties in the form of hotels and serviced apartments for long-term or short-term stay.”

		//- // Content Small
		//- section.content.mobile.visible-xs.visible-sm

		//- 	.container
		//- 		.row

		//- 			.col-xs-12
		//- 				nav.flex-container
		//- 					.flex-items
		//- 						a.icon-hotel(href="") Our Hotel
		//- 					.flex-items
		//- 						a.icon-promotion(href="") Promotion
		//- 					.flex-items
		//- 						a.icon-room(href="") Rooms
		//- 					.flex-items
		//- 						a.icon-faq(href="") FAQ
		//- 					.flex-items
		//- 						a.icon-contact(href="") Contact Us
		//- 					.flex-items
		//- 						a.icon-trip(href="") One Day Trip Around Here

		//- // Explore Map
		//- aside.explore

		//- 	.container
		//- 		.row

		//- 			.col-xs-12

		//- // Modal
		//- #popup.modal.fade(tabindex="-1", role="dialog")
		//- 	.modal-dialog.modal-sm
		//- 		.modal-content
		//- 			.modal-header
		//- 				button.close(type="button", data-dismiss="modal", aria-label="Close")
		//- 					span(aria-hidden="true") &times;
		//- 				h4.modal-title หัวข้อ
		//- 			.modal-body
		//- 				h5 ข้อมูลแจ้งเตือน
		//- 			.modal-footer
		//- 				button.btn.btn-default(type="button", data-dismiss="modal") Close
		//- 				button.btn.btn-primary(type="button") OK

		//- Footer inc
		include footer

		//- Script inc
		include script
