/* MIXINS
---------------------------------------*/

@mixin font-size ($size) {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
}

@mixin hide-text() {
	display: block;
	text-indent: -9999px;
}

@mixin circle($h,$w) {
	height: $h;
	width: $w;
	@include border-radius(100%);
}
