/* MEDIA QUERY
---------------------------------------*/

// Retina Display
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	.brand-logo > .sitename {
		background-image: url(#{$imgpath}/logo@2x.png);
		@include background-size(100%);
	}
	.footer-logo > .logo {
		background-image: url(#{$imgpath}/logo-footer@2x.png);
		@include background-size(100%);
	}
	.brand-logo-small > .sitename {
		background-image: url(#{$imgpath}/logo-small@2x.png);
		@include background-size(100%);
	}

}

// Tablet
@media (max-width: 1199px) {

	.reservation > .heading {
		background-image: url(#{$imgpath}/reservation-bg--tablet.png);
	}
	.footer-nav > li {
		margin-right: 25px;
	}
	.copyright {
		font-size: 0.69em;
	}

	.coupon {
		margin-bottom: 3px;
	}

	.promotion-list {
		margin-bottom: 35px;
		padding: 15px;
	}
	.promotion-desc {
		padding-left: 5px;
		> .title {
			font-size: 1.75em;
			margin-bottom: 10px;
		}
		> p {
			margin-bottom: 15px;
		}
	}
	.promotion-meta {
		margin-bottom: 0;
		> .price {
			font-size: 1.6em;
			margin-bottom: 30px;
		}
	}

	.promotion-detail {
		padding: 15px;
	}
	.promotion-remark, .promotion-contact, .promotion-detail .promotion-meta {
		margin-left: 15px;
	}

	.room-meta {
		background-image: url(#{$imgpath}/roommeta-bg--tablet.png);
		background-position: 135% center;
		h4 {
			margin-bottom: 23px;
		}
		.price {
			margin-bottom: 30px;
			> ins {
				display: block;
			}
			> del {
				margin-left: 0;
			}
		}
	}
	.room-detail.editor ul > li {
		width: 45%;
	}

}


// Mobile
@media (max-width: 991px) {

	.header {
		background-color: $blue;
		background-image: none;
	}

	.brand-logo-small {
		> .sitename {
			@include replace-text-with-dimensions("logo-small.png", center, center);
			margin: 5px auto;
			> a {
				display: block;
				height: image-height("logo-small.png");
			}
		}
	}

	.top-bar {
		float: left;
		height: auto;
	}
	.lang-nav > .btn {
		padding: 16px 26px 15px 0;
	}
	.lang-nav > .dropdown-menu {
		margin-top: 0;
	}

	.footer {
		padding-top: 30px;
	}
	.signup > .topic {
		line-height: 46px;
		margin-left: 20%;
	}
	.footer-logo {
		margin-top: 40px;
	}
	.footer-info {
		margin: 30px 0 10px;
		text-align: center;
	}
	.bottom {
		margin-bottom: 50px;
		padding: 20px 0 25px;
	}
	.bottom-nav {
		text-align: center;
	}
	.copyright {
		font-size: 1em;
		margin: 0 0 15px;
		text-align: center;
	}
	.fixbar {
		background-color: #FFDD6B;
		@include background-image(linear-gradient(-180deg, #FFDD6B 0%, #FEC400 78%));
		height: 50px;
		right: 0;
		left: 0;
	}

	.reservation-form {
		padding-top: 20px;
		label {
			color: $black;
		}
		.form-control {
			background-color: #EDEDED;
			&:focus {
				@include box-shadow(0 1px 1px rgba(0,0,0,.075) inset, 0 0 8px rgba(0,94,165,.8));
			}
		}
		.small {
			color: $black;
			display: inline-block;
			margin: 10px 10px 5px;
			&:hover {
				color: $blue;
			}
		}
		.btn {
			color: #FFF;
			font-size: 1.2em;
			margin-top: 10px;
			padding: 10px;
			@include text-shadow(0 1px 1px #000);
			@include border-radius(3px);
			text-transform: uppercase;
			width: 100%;
			@include box-shadow(none);
		}
		.btn-coupon {
			color: $black;
			font-size: 1.2em;
			margin-top: 15px;
			padding: 0 5px 5px;
			@include text-shadow(none);
			&:hover {
				color: $blue;
			}
			&.active {
				margin-top: 15px;
			}
		}
	}

	.content {
		padding-top: 30px;
		&.contact .editor {
			padding-bottom: 20px;
			hr {
				margin: 15px 0;
			}
		}
	}

	.page-header {
		margin-top: 30px;
	}

	.page-topic {
		> .topic {
			float: none;
			text-align: center;
		}
		> .breadcrumb {
			display: none;
		}
	}

	.promotion-desc {
		> .title {
			font-size: 1.6em;
		}
		> p {
			display: none;
		}
	}
	.promotion-meta {
		> .title {
			font-size: 1.6em;
		}
		> .price {
			font-size: 1.4em;
			margin-bottom: 8px;
		}
		> .info-aside {
			margin-bottom: 10px;
		}
	}

	.tripadvisor-widget, .chat-widget {
		display: none;
	}


}


// Mobile
@media (max-width: 767px) {

	.promotion-list {
		margin-bottom: 0;
		padding: 0;
		.promotion-figure {
			margin-bottom: 10px;
		}
		> .promotion-badge {
			left: 20px;
		}
	}
	.promotion-desc {
		> p {
			display: block;
		}
		> .more {
			display: none;
		}
	}
	.promotion-meta {
		border-top: 1px solid #CECECE;
		border-left: none;
		margin: 0;
		padding: 10px;
		text-align: center;
		h6 {
			margin-bottom: 5px;
		}
		> .valid {
			margin-bottom: 0;
		}
		.btn {
			display: none;
		}
	}
	.promotion-btn {
		> .btn {
			@include border-radius(0);
		}
		> .btn-red {
			border: none;
			border-top: 1px solid #C40011;
			border-bottom: 1px solid #DB485E;
			color: #FFF;
			font-size: 1em;
			padding: 10px 0;
			text-transform: uppercase;
			@include box-shadow(none);
		}
		> .btn-default {
			border: none;
			border-top: 1px solid #D2D2D2;
			border-bottom: 1px solid #E0E0E0;
			color: $grey;
			font-size: 1em;
			padding: 10px 0;
			> i {
				font-size: 1.2em;
				margin-left: 10px;
			}
		}
	}

	.promo-head {
		> .topic {
			float: none;
			margin-bottom: 10px;
			text-align: center;
		}
		> .more {
			float: none;
			> i {
				color: $grey;
			}
			&:hover {
				color: $grey;
				> i {
					margin-right: 7px;
				}
			}
		}
	}

	.promotions .pd-wrap {
		padding-right: 0;
		padding-left: 0;
	}
	.promotion-remark, .promotion-contact, .promotion-detail .promotion-meta {
		margin-left: 0;
	}
	.promotion-accordion {
		background-color: #FFF;
		margin-bottom: 0;
	}
	.remark-area {
		background-color: #FFF3CD;
		border-top: 1px solid #FEC400;
		border-bottom: 1px solid #FEC400;
		padding: 15px;
	}
	.promotion-contact {
		border-color: #FEC400;
	}

	.content.grey.detail-page {
		background-color: #FFF;
	}
	.promotion-detail {
		padding: 0 15px;
		> .promotion-badge {
			left: 15px;
		}
		.promotion-figure {
			margin-bottom: 10px;
		}
		> .pd-meta {
			padding: 0;
		}
	}
	.promotion-meta > .title {
		text-align: left;
	}

	.detail-page {
		.promotion-meta .btn {
			display: block;
		}
		.promotion-meta > .valid {
			margin-bottom: 10px;
		}
		.promotion-accordion .panel-title > a {
			background-color: #DFDFDF;
		}
		.promotion-accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
			background-color: #F2F2F2;
		}
		.panel-group {
			margin-bottom: 10px;
		}
	}

	.contact .pd-wrap {
		padding-right: 0;
		padding-left: 0;
	}
	.contact-form {
		margin-bottom: 0;
		padding: 15px 15px 0;
	}
	.apply-form {
		padding: 10px 0 0;
	}

	.footer {
		padding-top: 20px;
	}
	.signup > .topic {
		line-height: 24px;
		margin-left: 0;
	}
	.footer-info > .infolist > li > a {
		font-size: 0.95em;
		line-height: 2;
	}
	.bottom-nav > li {
		margin-right: 0;
	}
	.fix-nav > li > a {
		font-size: 0.85em;
		> .fa {
			margin-right: 7px;
		}
	}

}


// Mobile
@media (max-width: 640px) {

	.flex-items {
		margin-bottom: 5px;
		padding-top: 20px;
		> a {
			font-size: 0.9em;
			padding: 25px 5px 20px;
		}
	}

	.page-header {
		margin-top: 20px;
	}

}




