/* VARIABLES
---------------------------------------*/

// Path
$imgpath:								"../../img";
$fontpath:								"../../fonts";

// Color
$purple:								#1a247d;
$red: 									#ec2227;
$lightpurple:							#8ba4d9;
$blue:									#81d4fd;
$darkblue:								#0f9bdc;
$dark:									#253145;
$grey:									#bbb;
$white:									#FFF;

$body-color:							$white;
$header-color:							$purple;
$mainnav-color:							$purple;
$content-color:							$white;
$footer-color:							$purple;
$bottom-color:							$white;
$text-color:							$grey;
$heading-color:							$purple;
$link-color:							$blue;
$link-hover-color:						darken($link-color, 10%);

$brand-color: (
	facebook: 		#3b5998,
	twitter: 		#00aced,
	googleplus: 	#dd4b39,
	youtube: 		#bb0000,
	instagram: 		#125688,
	linkedin: 		#007bb5,
	pinterest: 		#cb2027,
	line: 			#00C300
);

// Typography
$font-superspace-bold:					"superspace_bold", Helvetica, Arial, sans-serif;
$font-superspace-regular:				"superspace_regular", Helvetica, Arial, sans-serif;
$font-superspace-light:					"superspace_light", Helvetica, Arial, sans-serif;
