/* FORM
---------------------------------------*/

.form-control {
	border: none;
	color: $dark;
	font-family: $font-superspace-regular;
	font-size: 1em;
	@include box-shadow(none);
	@include border-radius(0);
	&:focus {
		@include box-shadow(none);
	}
}

.quickcontact-form {
	.form-control {
		border-bottom: 1px solid $darkblue;
	}
	.form-control::-webkit-input-placeholder {
		color: #b6b6b6;
	}
	.form-control::-moz-placeholder {
		color: #b6b6b6;
	}
	.form-group {
		margin-bottom: 25px;
	}
	.btn {
		background-color: $red;
		color: #FFF;
		font-family: $font-superspace-regular;
		font-size: 1.2em;
		padding: 10px 0;
		@include border-radius(0 10px 0 0);
		> span {
			background-image: url(#{$imgpath}/icon-arrow-right.png);
			background-repeat: no-repeat;
			background-position: left center;
			padding: 5px 0 5px 50px;
		}
	}
}

.motor-form {
	.form-control {
		background-color: #FFF;
		background-color: rgba(256,256,256,.9);
		border: 2px solid #b2b2b2;
		border: 2px solid rgba(178,178,178,.35);
		height: auto;
		padding: 7px 15px;
	}
	.form-control::-webkit-input-placeholder {
		color: #888;
	}
	.form-control::-moz-placeholder {
		color: #888;
	}
	.form-group {
		margin-bottom: 10px;
	}
	.btn {
		background-color: $red;
		border: 1px solid #FFF;
		color: #FFF;
		font-family: $font-superspace-regular;
		font-size: 1.2em;
		margin: 15px 0;
		padding: 10px 0;
		@include border-radius(0 10px 0 0);
		> span {
			background-image: url(#{$imgpath}/icon-arrow-right.png);
			background-repeat: no-repeat;
			background-position: left center;
			padding: 5px 0 5px 50px;
		}
	}
	.link {
		clear: both;
		color: $purple;
		display: block;
		font-family: $font-superspace-regular;
		font-size: 1em;
		text-align: center;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

// Tablet
@media (max-width: 1279px) {

	.quickcontact-form {
		.form-group {
			margin-bottom: 15px;
		}
		.btn {
			font-size: 1.1em;
			padding: 7px 0;
			> span {
				background-image: url(#{$imgpath}/icon-arrow-right-medium.png);
				padding-left: 40px;
			}
		}
	}

	.motor-form {
		.form-control {
			padding: 5px 15px;
		}
		.form-group {
			margin-bottom: 5px;
		}
		.btn {
			font-size: 1em;
			margin: 10px 0;
			padding: 7px 0;
			> span {
				background-image: url(#{$imgpath}/icon-arrow-right-medium.png);
				padding-left: 35px;
			}
		}
		.link {
			font-size: 0.9em;
		}
	}

}


// Mobile
@media (max-width: 767px) {

	.quickcontact-form {
		.btn {
			font-size: 1em;
			padding: 5px 0;
			> span {
				background-image: url(#{$imgpath}/icon-arrow-right-small.png);
				padding-left: 35px;
			}
		}
	}

}


