/* OWLCAROUSEL
---------------------------------------*/

.owl-carousel .item {
	// margin: 5px 1px 0;
	img {
		display: block;
		height: auto;
		width: 100%;
		padding-right: 10px;
	}
}

.customnavigation {
	display: none;
	float: left;
	margin-right: 15px;
	> .prev {
		border: 2px solid #FFF;
		color: #FFF;
		cursor: pointer;
		padding: 3px 5px 1px;
		@include border-radius(3px 0 0 3px);
	}
	> .next {
		border: 2px solid #FFF;
		color: #FFF;
		cursor: pointer;
		padding: 3px 5px 1px;
		@include border-radius(0 3px 3px 0);
	}
}

// .owl-theme .owl-controls .owl-buttons div {
// 	background-color: transparent;
// 	@include opacity(.8);
// }
// .owl-theme .owl-controls .owl-buttons .owl-prev {
// 	@include replace-text-with-dimensions("arrow_left.png", center, center);
// 	display: inline-block;
// }
// .owl-theme .owl-controls .owl-buttons .owl-next {
// 	@include replace-text-with-dimensions("arrow_right.png", center, center);
// 	display: inline-block;
// }
// .owl-theme .owl-controls {
// 	background: #0a4c85;
// 	margin-top: 0;
// 	padding: 10px 0 8px;
// 	.feature &, .program & {
// 		background: #fff;
// 	}
// }
.owl-theme .owl-controls {
	margin-top: 5px;
	text-align: left;
}
.owl-theme .owl-controls .owl-page span {
	background: #FFF;
	// height: 18px;
	// width: 18px;
	@include opacity(1);
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: $yellow;
}



// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) {

// 	.owl-theme .owl-controls .owl-buttons .owl-prev {
// 		background-image: url(#{$imgpath}/arrow_left@2x.png);
// 		@include background-size(100%);
// 	}
// 	.owl-theme .owl-controls .owl-buttons .owl-next {
// 		background-image: url(#{$imgpath}/arrow_right@2x.png);
// 		@include background-size(100%);
// 	}

// }



// Tablet
// @media (max-width: 1199px) {

// 	.owl-carousel .item {
// 		img {
// 			width: 95%;
// 		}
// 	}

// }

// Mobile
@media (max-width: 991px) {

	.owl-carousel .item {
		img {
			padding: 0 5px;
		}
	}
	.owl-theme .owl-controls {
		text-align: center;
	}
	.owl-theme .owl-controls .owl-page span {
		height: 15px;
		width: 15px;
	}
	.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
		background: $grey;
	}
	.owl-theme.owl-promotions .owl-controls {
		background-color: #FFF;
		margin-top: 0;
		padding: 10px 0 5px;
	}
	.owl-theme.owl-promotions .owl-controls .owl-page span {
		background: #ECECEC;
	}
	.owl-theme.owl-promotions .owl-controls .owl-page.active span, .owl-theme.owl-promotions .owl-controls.clickable .owl-page:hover span {
		background: #D8D8D8;
		@include box-shadow(inset 0 1px 3px rgba(0,0,0,.4));
	}

}



