/* GENERAL
---------------------------------------*/
body {
	background-color: $body-color;
}


/* HEADER
---------------------------------------*/
.header {
	background-color: $header-color;
	border-top: 3px solid $red;
// 	background-image: url(#{$imgpath}/header-bg.png);
// 	background-repeat: repeat-x;
// 	position: relative;
// 	z-index: 800;
// 	@include box-shadow(0 2px 10px 0 rgba(0,0,0,0.3));
// 	> .container {
// 		position: relative;
// 	}
}

// .brand-logo {
// 	background-color: $blue;
// 	padding: 15px 15px 10px;
// 	position: absolute;
// 	top: 0;
// 	@include box-shadow(0 0 7px rgba(0,0,0,.4));
// 	> .sitename {
// 		@include replace-text-with-dimensions("logo.png", center, center);
// 		margin: 0 auto;
// 		> a {
// 			display: block;
// 			height: image-height("logo.png");
// 		}
// 	}
// }

// .top-bar {
// 	height: 40px;
// 	text-align: right;
// }

// .top-nav {
// 	list-style-type: none;
// 	> li {
// 		display: inline;
// 		vertical-align: middle;
// 		> a {
// 			color: #FFF;
// 			@extend %roboto-normal;
// 			font-size: 1em;
// 			text-transform: uppercase;
// 			@include text-shadow(2px 2px 1px rgba(0,0,0,.6));
// 			> .fa {
// 				font-size: 1.1em;
// 				margin-right: 10px;
// 			}
// 		}
// 	}
// 	> .divider {
// 		@include replace-text-with-dimensions("topnav-divider.png", center, center);
// 		display: inline-block;
// 		margin: 0 15px;
// 	}
// 	> .brand {
// 		font-size: 0.8em;
// 	}
// }

// @each $bc in facebook, instagram, pinterest, googleplus, youtube, twitter, linkedin {
// 	.#{$bc}-color {
// 		color: map-get($brand-color, #{$bc});
// 	}
// }

// .lang-nav {
// 	float: right;
// 	> .dropdown-menu {
// 		background-color: $navy;
// 		border-color: darken($navy, 5%);
// 		min-width: 105px;
// 		padding: 0;
// 		@include border-radius(0);
// 		> li {
// 			> a {
// 				color: #FFF;
// 				@extend %roboto-normal;
// 				// font-family: $font-kelson-regular;
// 				font-size: 0.9em;
// 				padding: 5px 18px;
// 				&:hover, &:focus {
// 					background-color: lighten($navy, 10%);
// 				}
// 			}
// 		}
// 	}
// 	> .btn-link {
// 		color: #FFF;
// 		@extend %roboto-normal;
// 		// font-family: $font-kelson-regular;
// 		font-size: 0.9em;
// 		&:hover, &:focus {
// 			text-decoration: none;
// 		}
// 		> .caret {
// 			margin-left: 10px;
// 		}
// 	}
// 	> .btn {
// 		padding: 10px 26px 7px 0px;
// 	}
// }
// @each $flag in gb, jp, ps {
// 	.#{$flag} {
// 		background-image: url(#{$imgpath}/#{$flag}.png);
// 		background-repeat: no-repeat;
// 		background-position: left center;
// 		padding-left: 25px;
// 	}
// }

// .main-nav {
// 	.dropdown-menu {
// 		background-color: $navy;
// 		border-color: darken($navy, 5%);
// 		border-top: none;
// 		margin: 0;
// 		padding: 0;
// 		@include border-radius(0);
// 		> li {
// 			> a {
// 				color: #FFF;
// 				// font-family: $font-kelson-regular;
// 				// font-size: 0.9em;
// 				padding: 10px 20px;
// 				&:hover, &:focus {
// 					background-color: lighten($navy, 10%);
// 				}
// 			}
// 		}
// 	}
// }

// %_activestage {
// 	// background-image: url(#{$imgpath}/mainnav-triangle@2x.png);
// 	background-repeat: no-repeat;
// 	background-position: center 48px;
// 	@include background-size(13px 6px);
// }

// .main-nav {
// 	display: table;
// 	table-layout: auto;
// 	width: 100%;
// 	> li {
// 		display: table-cell;
// 		// display: inline-block;
// 		text-align: center;
// 		@include transition(all 0.2s);
// 		> a {
// 			color: $navy;
// 			@extend %roboto-medium;
// 			font-size: 1em;
// 			display: block;
// 			padding: 17px 10px;
// 			@include transition(transform 0.15s);
// 			@include transform(translateY(0px));
// 			&:hover {
// 				@extend %_activestage;
// 				@include transform(translateY(2px));
// 			}
// 		}
// 		&:hover {
// 			background-color: $yellow;
// 			@include background-image(linear-gradient(-180deg, #FFD64C 0%, #FEC400 100%));
// 		}
// 		&.highlight {
// 			background-color: $yellow;
// 			@include background-image(linear-gradient(-180deg, #FFD64C 0%, #FEC400 100%));
// 			> a {
// 				font-weight: 700;
// 				&:hover {
// 					background-position: center bottom;
// 					@include transform(translateY(0px));
// 				}
// 			}
// 		}
// 		&:last-child > a {
// 			// padding-right: 0;
// 		}
// 		&.active > a, {
// 			background-color: $yellow;
// 			@include background-image(linear-gradient(-180deg, #FFD64C 0%, #FEC400 100%));
// 			font-weight: 700;
// 			// text-decoration: underline;
// 			&:hover {
// 				background-color: $yellow;
// 				@include background-image(linear-gradient(-180deg, #FEC400 0%, #FEC400 100%));
// 				@include transform(translateY(0px));
// 			}
// 		}
// 		&.dropdown {
// 			background-position: center bottom;
// 			&:hover {
// 				background-image: url(#{$imgpath}/mainnav-triangle@2x.png);
// 				@extend %_activestage;
// 				background-position: center bottom;
// 			}
// 			&.open {
// 				background-image: url(#{$imgpath}/mainnav-triangle@2x.png);
// 				@extend %_activestage;
// 				background-position: center bottom;
// 				font-weight: 500;
// 				&:hover {
// 					@include transform(translateY(0px));
// 				}
// 			}
// 		}
// 	}
// }

// .footer-nav {
// 	border-bottom: 1px solid #FFF;
// 	border-bottom: 1px solid rgba(256,256,256,.5);
// 	// display: table;
// 	// table-layout: auto;
// 	margin-bottom: 20px;
// 	padding: 15px 0 25px;
// 	// width: 100%;
// 	> li {
// 		// display: table-cell;
// 		display: inline;
// 		margin-right: 30px;
// 		// text-align: center;
// 		> a {
// 			color: #FFF;
// 			@extend %roboto-normal;
// 			font-size: 1em;
// 			// display: block;
// 			&:hover {
// 				color: $yellow;
// 			}
// 		}
// 		&:last-child {
// 			margin-right: 0;
// 			> a {
// 				padding: 0;
// 				text-transform: uppercase;
// 				> i {
// 					font-size: 1.2em;
// 					margin-right: 15px;
// 				}
// 			}
// 		}
// 	}
// }

// .bottom-nav {
// 	list-style-type: none;
// 	> li {
// 		display: inline;
// 		margin-right: 15px;
// 		// vertical-align: middle;
// 		> a {
// 			color: #FFF;
// 			font-size: 1.1em;
// 		}
// 	}
// }

// .mobile-menu {
// 	float: right;
// 	margin-top: 14px;
// }

// .fix-nav {
// 	display: table;
// 	table-layout: auto;
// 	width: 100%;
// 	> li {
// 		border-left: 1px solid #ECB600;
// 		border-right: 1px solid #FFDD6A;
// 		display: table-cell;
// 		text-align: center;
// 		> a {
// 			color: $grey;
// 			@extend %roboto-bold;
// 			font-size: 1em;
// 			display: block;
// 			line-height: 50px;
// 			> .fa {
// 				font-size: 1.3em;
// 				margin-right: 10px;
// 			}
// 		}
// 	}
// }



// /* FEATURE
// ---------------------------------------*/
// .feature {
// 	background-color: $black;
// 	position: relative;
// 	z-index: 100;
// }

// .booking {
// 	background: #222;
// 	background: rgba(0,0,0,.35);
// 	height: 220px;
// 	position: absolute;
// 	bottom: 0;
// 	width: 100%;
// 	z-index: 900;
// 	@include background-image(linear-gradient(0deg, #000000 6%, rgba(0,0,0,0.35) 99%));
// }

// .reservation {
// 	> .heading {
// 		background: url(#{$imgpath}/reservation-bg.png) no-repeat center top;
// 		padding: 8px 0 20px;
// 		text-align: center;
// 		> .topic {
// 			color: #FFF;
// 			font-family: $font-kelson-bold;
// 			font-size: 2em;
// 			line-height: 1;
// 			@include text-shadow(1px 1px 1px #000);
// 			text-transform: uppercase;
// 		}
// 		> .desc {
// 			color: #292929;
// 			@extend %roboto-normal;
// 			font-size: 1.2em;
// 		}
// 	}
// }

// .promotion-widget {
// 	> .heading {
// 		margin: 10px 0;
// 		@extend %cf;
// 		> .topic {
// 			color: $yellow;
// 			font-family: $font-kelson-bold;
// 			font-size: 1em;
// 			float: left;
// 		}
// 	}
// }

// .promotion-mobile {
// 	background-color: $yellow;
// 	.promotion-widget {
// 		.topic {
// 			color: $grey;
// 			float: none;
// 			text-align: center;
// 		}
// 	}
// }

// /* WELCOME
// ---------------------------------------*/
// .welcome {
// 	background: #F5F5F5 url(#{$imgpath}/welcome-bg.jpg) no-repeat center top;
// 	padding: 40px 0 35px;
// 	.editor {
// 		h1 {
// 			font-size: 3em;
// 			line-height: 1;
// 			margin-bottom: 40px;
// 		}
// 		h2 {
// 			color: $yellow;
// 			@extend %roboto-light;
// 			font-size: 2.6em;
// 			line-height: 1;
// 			margin-top: 10px;
// 		}
// 		p {
// 			font-size: 1.2em;
// 		}
// 	}
// 	&.hotel-welcome {
// 		.editor {
// 			img {
// 				display: block;
// 				float: left;
// 				margin: 0 60px 40px 0;
// 			}
// 			h1 {
// 				color: $grey;
// 				@extend %roboto-lighti;
// 				font-size: 1.3em;
// 				line-height: 1.6;
// 				margin-bottom: 30px;
// 				padding-top: 5px;
// 				> b {
// 					color: $blue;
// 					font-weight: 400;
// 				}
// 			}
// 			p {
// 				clear: both;
// 				font-size: 1em;
// 				line-height: 1.8;
// 			}
// 		}
// 	}
// }

// .bgclip {
// 	border: 5px solid #FFF;
// 	@include box-shadow(0 0 5px 0 rgba(0,0,0,.4));
// }


// /* CONTENT
// ---------------------------------------*/
// .content {
// 	background-color: $content-color;
// 	padding: 50px 0 0;
// 	&.grey {
// 		background-color: #F3F3F3;
// 	}
// 	&.mobile {
// 		padding: 30px 0 10px;
// 	}
// }

// .page-header {
// 	background-color: $yellow;
// 	border-bottom: none;
// 	margin: 0;
// 	padding: 12px 0;
// 	@include box-shadow(inset 2px -2px 4px 0 rgba(0,0,0,.1));
// }
// .page-topic {
// 	> .topic {
// 		color: $grey;
// 		float: left;
// 		font-family: $font-kelson-bold;
// 		font-size: 2em;
// 		text-transform: uppercase;
// 	}
// 	> .breadcrumb {
// 		float: right;
// 		margin-top: 8px;
// 	}
// }

// .home {
// 	blockquote {
// 		border-top: 1px solid #DEDEDE;
// 		@extend %roboto-lighti;
// 		font-size: 1.3em;
// 		margin-top: 10px;
// 		padding: 25px 10px;
// 		text-align: center;
// 		> b, strong {
// 			font-weight: 500;
// 		}
// 	}
// 	.editor {
// 		img {
// 			display: block;
// 			float: left;
// 			margin-right: 20px;
// 		}
// 		h3 {
// 			color: $black;
// 			@extend %roboto-lighti;
// 			font-size: 1.3em;
// 			line-height: 1.4;
// 			margin-bottom: 20px;
// 			> b, strong {
// 				color: $blue;
// 				font-weight: 400;
// 			}
// 		}
// 		p {
// 			> b, strong {
// 				color: $blue;
// 				font-weight: 400;
// 			}
// 		}
// 	}
// }



// /* SHORTCUT
// ---------------------------------------*/
// .flex-container {
// 	@include display-flex;
// 	@include flex-wrap(wrap);
// 	@include justify-content(space-between);
// 	@include align-content(stretch);
// 	@include align-items(stretch);
// }
// .flex-items {
// 	background: $darknavy url(#{$imgpath}/shortcut-bg.png) repeat-x center top;
// 	margin-bottom: 15px;
// 	padding-top: 25px;
// 	width: 32%;
// 	@include border-radius(4px);
// 	@include box-shadow(0 2px 3px rgba(0,0,0,.3));
// 	@include flex-grow(0);
// 	@include flex-shrink(1);
// 	@include flex-basis(auto);
//     > a {
// 		color: #FFF;
// 		@extend %roboto-normal;
// 		font-size: 1em;
// 		display: block;
// 		padding: 25px 0;
// 		text-align: center;
// 		@include text-shadow(0 0 2px rgba(0,0,0,.5));
// 	}
// }

// @each $icsc in hotel, promotion, room, faq, contact, trip {
// 	.icon-#{$icsc} {
// 		background-image: url(#{$imgpath}/icon-#{$icsc}.png);
// 		background-repeat: no-repeat;
// 		background-position: top center;
// 		@include background-size(25px 20px);
// 	}
// }





// /* OUR HOTEL
// ---------------------------------------*/
// .hotel-gellery {
// 	background-color: #272727;
// }

// .checkin {
// 	background-color: #F0F0F0;
// }

// /* FAQ
// ---------------------------------------*/
// .faq-topic {
// 	font-size: 1.3em;
// 	margin-bottom: 20px;
// 	text-transform: uppercase;
// 	> i {
// 		font-size: 1.2em;
// 		margin-right: 7px;
// 	}
// }
// .accordion {
// 	margin-bottom: 40px;
// }
// .panel-default > .panel-heading {
// 	padding: 0;
// 	@include border-radius(0);
// }
// .panel-title > a {
// 	background-color: #F0F0F0;
// 	@extend %roboto-bold;
// 	display: block;
// 	padding: 15px 20px;
// 	&:hover, &:focus {
// 		background-color: $yellow;
// 		color: $grey;
// 		&.collapsed & {
// 			background-color: #F0F0F0;
// 		}
// 	}
// }
// .panel-group .panel {
// 	@include border-radius(0);
// }
// .panel {
// 	border: none;
// 	@include box-shadow(none);
// }
// .panel-default > .panel-heading + .panel-collapse > .panel-body {
// 	background-color: #fff3cb;
// 	border-top: 2px solid $yellow;
// }



/* PROMO
---------------------------------------*/
.promo {
	background-image: url(#{$imgpath}/promo-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 250px 0 80px;
	> .container {
		padding: 0 150px;
	}
}
.promo-media {
	position: relative;
	padding-bottom: (9/16) * 100%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
	> iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%!important;
		height: 100%!important;
	}
}


// /* CAREER
// ---------------------------------------*/
// .career {
// 	padding-bottom: 30px;
// }
// .career-topic {
// 	font-size: 1.3em;
// 	margin-bottom: 20px;
// 	text-transform: uppercase;
// 	> i {
// 		font-size: 1.2em;
// 		margin-right: 7px;
// 	}
// }
// .career .apply {
// 	border: none;
// 	color: #FFF;
// 	@extend %roboto-bold;
// 	font-size: 1.2em;
// 	display: block;
// 	margin: 30px auto 10px;
// 	padding: 10px;
// 	width: 260px;
// 	text-decoration: none;
// 	text-transform: uppercase;
// 	@include box-shadow(none);
// 	&:hover, &:focus {
// 		color: #FFF;
// 		text-decoration: none;
// 	}
// }



// /* CONTACT
// ---------------------------------------*/
// .contact .editor a {
// 	text-decoration: none;
// }



// /* EXPLORE
// ---------------------------------------*/
// .explore {
// 	background-color: $yellow;
// }


/* QUICK CONTACT
---------------------------------------*/
.quickcontact {
	background-color: #deeaf5;
}
.quickcontact-info {
	.contactgirl {
		@include replace-text-with-dimensions("girl.jpg", center, center);
		float: right;
	}
	.contactform {
		width: 450px;
		.topic {
			color: $purple;
			font-size: 2.8em;//2.2em
			font-weight: bold;
			line-height: 1.0;
			text-align: center;
			> span {
				color: $darkblue;
			}
		}
	}
}
.quickcontact-form {
	background-color: #FFF;
	margin-top: 20px;
	padding: 25px 50px;
	@include border-radius(0 15px 0 0);
}



/* QUICK CLAIM
---------------------------------------*/
.quickclaim {
	background-color: #fff;
	padding: 40px 0;
}
.quickclaim-text {
	text-align: center;
	> .topic {
		color: #888;
		> span {
			color: $purple;
		}
	}
}



/* FOOTER
---------------------------------------*/
.footer {
	background-color: $footer-color;
	border-bottom: 3px solid $red;
	padding: 30px 0 25px;
}
.footer-info {
	h5 {
		color: #FFF;
		font-size: 1.1em;
		margin-bottom: 3px;
	}
	ul {
		float: left;
		padding-left: 35px;
		width: 50%;
		&._fullwidth {
			padding-left: 0;
		}
	}
	li {
		list-style-type: none;
		> a {
			color: #BBB;
			display: block;
			margin-bottom: 3px;
			&:hover {
				color: #FFF;
				text-decoration: underline;
			}
		}
	}
	p {
		color: #BBB;
		line-height: 1.85;
		margin-bottom: 5px;
	}
}
@each $social in facebook, youtube, twitter, instagram {
	.social-nav > .#{$social} {
		@include replace-text-with-dimensions("#{$social}-sprite.jpg", center, top);
		height: image-height("#{$social}-sprite.jpg")/2;
		display: inline-block;
		margin-top: 10px;
		margin-right: 5px;
		&:hover {
			background-position: center bottom;
		}
	}
}


/* BOTTOM
---------------------------------------*/
.bottom {
	background-color: $bottom-color;
	padding: 10px 0;
}
.bottom-text {
	> p {
		color: $grey;
		> b {
			color: $purple;
			text-transform: uppercase;
		}
		> span {
			color: $red;
			font-size: 1.4em;
		}
		> img {
			margin-top: 5px;
		}
	}
}



